* {
    padding: 0;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(1, 121, 233);
    max-height: 10000%;
    min-height: 1000%;
}

nav li{
    margin-left: 1000px;
    background-color: rgb(0, 100, 194);
    padding: 0.3%;
    list-style-type: none;
}

nav li a {
    /*separate the buttons*/
    display: block;
    text-decoration: none;
    color: rgb(0, 255, 242);
    font-size: 1.5em;
    width: 100px;
}

nav li a:hover{
    color: rgb(0, 202, 192);
    text-decoration: none
}