body {
    background-color: gray;

}


.container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

#ip {
    margin-left: 38%;
    background-color: rgb(0, 163, 238);
    width: 305px;
    border-radius: 10px;
    
}

.image {
    margin-left: 40%;
}

#status {
    margin-top: 1%;
    offset-anchor: 50%;
    background-color: rgb(0, 197, 0);
    border-radius: 5px;
    width: 23mm;
    color: black;
    text-decoration: none;
}

#status:hover {
    margin-top: 1%;
    background-color: rgb(0, 161, 0);
    border-radius: 5px;
    width: 23mm;
    color: rgb(0, 0, 0);
    text-decoration: none;
}